.search {
  width: 100vw;
  text-align: center;
  padding: 20px;

 
  input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 40vw;
    border: none;
    height: 30px;
    border-radius: 5px;
  }
}
